# MurmurAI STT configuration file

# Configuration for setting the MurmurAI server URL.
murmurai.server.url=http://localhost:8000

# Configuration for setting the MurmurAI API key.
murmurai.api.key=secret.api.key

# Configuration for setting the polling interval in seconds.
# This is used when waiting for results.
# Default: 10
#murmurai.polling.interval=10

# Configuration for setting the maximum wait time in seconds.
# If the time has been reached, the transcription is expected to have failed.
# Default: 7200
#murmurai.max.wait.time=7200

# Enables speaker diarization to identify and label different participants in the audio.
# Default: false
murmurai.speaker_labels=false

# Selects the algorithm used for Voice Activity Detection to distinguish speech from silence.
# possible values: pyannote, silero
# default is "pyannote" but silero is recommended because it will work out of the box
murmurai.vad_method="silero"

# Sets a character limit for each line in subtitle exports to ensure they fit the screen.
# Default: 0 (unlimited)
murmurai.max_line_width=42

# Calculates precise start and end times for every individual word rather than just sentences.
# Default: false
murmurai.word_timestamps=true
